@charset "utf-8";
a {
	color: #000;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,.1);
	-webkit-touch-callout: none
}
li, ul {
	list-style-type: none
}
.boxSizing {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: 0 0
}
img {
	height: auto;
	max-width: 100%;
	vertical-align: bottom
}
label {
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}

html {
	font-size: 62.5%
}
body {
	font: 1.4rem/21px Verdana, Arial, 'メイリオ', Meiryo, sans-serif;
	color: #666;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none
}
header {
	height: auto;
	/*margin: 0 0 10px*/
	margin: 0;
}




/*===============================================
●PC 画面の横幅が769px以上
===============================================*/
@media screen and (min-width: 769px){
img{
max-width: 100%;
height: auto;
width :auto;　
}

main{
width:1000px;
margin:0 auto;
}

.contents{ overflow:hidden;}
.mainContent{ float:left; width:740px;}
.subContent{ float:right; width:240px;}

/* ヘッダー */
header{ }
.headerParts{ overflow:hidden; padding:10px; width:1000px; margin:0 auto;}
.headerParts div:first-child{ float:left; display:inline-block; width:30%; box-sizing :border-box; vertical-align:middle;}
.headerParts div:last-child{ display:none;}

/* パンくず */
#breadCrumb{ width:1000px; margin:0 auto; }
#breadCrumb ul{	overflow:hidden;}
#breadCrumb li{ float:left; font-size: 12px; padding:10px; }
#breadCrumb li:first-child{ padding:10px 10px 10px 0; }
#breadCrumb li:last-child{ padding:10px 0 10px 10px; }
#breadCrumb a{ text-decoration: none; color: #444; }




/* ドロワーメニュー → グローバルナビ */
header button{ display:none;}
.grNav{ border-top:1px solid #000; border-bottom:1px solid #666; padding:16px 0;}
.grNav ul{ overflow:hidden; width:1000px; margin:0 auto; }
.grNav li{ line-height:30px; margin-right:30px; float:left; padding-right:30px; border-right:1px solid #cdcdcd;}
.grNav li:last-child{ margin-right:0;  border-right:none;}
.grNav li a{ display:block;}


h1{ text-align:center; font-size:16px; line-height:88px; color:#2d3639;}
h2{ text-align:center; font-size:16px; line-height:88px;}
h3{ background-color:#244dd2; padding:0 10px; font-size:16px; line-height:44px; color:#fff; margin:30px 0 15px; text-shadow:1px 1px #182d70;}
.tabBlock h3{margin:0 0 15px;}
.infoBlock h3{ margin:0;}
.listTextBlock h3{ margin:30px 0 0;}

h3 i { font-size:28px; top:6px; margin-right:10px}


.infoParts { padding:15px; text-align:center;}
.infoParts div{ width:auto;}
.infoParts p{ width:auto; color:#999; line-height:33px; text-align:left;}
.infoParts p span{ color:#2d3639; font-weight:700; display:block; font-size:16px;}
.infoParts .more, .infoParts .close { display:block; padding: 10px; text-align: center; border: #666 1px solid; cursor: pointer; width:auto; margin-top:20px;}

/* タブ */
.tabParts{ margin:10px 0 0 0; overflow:hidden; text-align:center; border-bottom:1px solid #e9e9e9;}
.tabParts div{ background-color:#e9e9e9; color:#666; width:30%; float:left; line-height:40px;}
.tabParts .active{ background-color:#eaf1fa; color:#000;}
.tabParts div:nth-child(1) { border-right:none; margin-right:6px;}
.hide { display:none;}



.listType{ }
.listType a{ display:block; padding:15px; width:100%;}
.listType li div { overflow:hidden;}
.listType li div div{ width:180px; float:left; margin-right:15px;}
.listType li div p{ float:left; width:auto; margin-bottom:6px; color:#999; line-height:33px;}
.listType li div p span{ color:#2d3639; font-weight:700; display:block; font-size:16px;}

.listTextType{ }
.listTextType a{ display:block; padding:15px;}
.listTextType li { border-bottom:1px solid #ccc; color:#2d3639; font-weight:700;}
.listTextType li i { margin-left:10px}


/* ロードエリア */
.loadArea{ padding:0 15px; overflow:hidden;}
.loadArea a{ display:block;}
.loadArea div { width:350px; float:left; margin-right:10px;}
.loadArea div:nth-child(even) { margin-right:0;}

.loadArea p{ margin:6px 0; color:#999;}
.loadArea p span{ color:#2d3639; font-weight:700; display:block;}
.nowLoading { padding: 5px 0; width: 100%; text-align: center;}
.loadMoreBtn { margin:10px; padding: 10px 0; text-align: center; border: #666 1px solid; cursor: pointer;}



/* スライダー */
.swiper-container { width: 100%; height: auto; background: #ccc; position:absolute; top:0; left:0; }
.swiper-slide { font-size: 18px; color:#fff; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; position: absolute; text-align:center; }
.sliderType img {width: 100%;}
.sliderType a{ display:block;}

.topFade{ overflow:hidden; width:1000px; margin:0 auto;}
.pageTop{ float:right; margin:80px 10px 0 0; width:auto;}
.pageTop a{ padding:3px; background-color:#e9e9e9; display:block;}
.pageTop span{ display:inline-block; padding:10px; color:#666; background-color:#e9e9e9;}

/* フッター */
footer{ background-color:#e9e9e9; padding:15px;}
.footerLink{ text-align:left; width:1000px; margin:0 auto;}
.footerLink a{ display:inline-block; margin-right:10px; padding-right:10px;}
.footerLink a:last-child{ margin-right:0; padding-right:0;}
.copyRight{ text-align:left; font-size:14px; line-height:42px; width:1000px; margin:0 auto;}

}



/*===============================================
●タブレット 画面の横幅が768pxまで
===============================================*/
@media screen and (max-width: 768px){
img{
max-width: 100%;
height: auto;
width :auto;　
}

main{
width:100%;
}


}



/*===============================================
●スマートフォン 画面の横幅が768pxまで
===============================================*/
@media only screen and (max-width: 768px){
img{
max-width: 100%;
height: auto;
width :auto;
}

/* ヘッダー */
header{ background-color:#ffffff;}
.headerParts{ overflow:hidden; padding:10px;}
.headerParts div:first-child{ float:left; width:48%; box-sizing :border-box;}
.headerParts div:last-child{ float:right; display:inline-block; padding:3px; background-color:#485052;}
.headerParts div:last-child a{ display:inline-block; border:1px solid #a9a9a9; color:#fff; padding:9px; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #535c5f), color-stop(1, #3d4446)); background-image: -moz-linear-gradient(top, #535c5f, #3d4446); background-image: -o-linear-gradient(top, #535c5f, #3d4446); background-image: linear-gradient(to bottom, #535c5f, #3d4446);
}

/* パンくず */
#breadCrumb{
background: #eee;
border-width: 1px;
border-style: solid;
border-color: #f5f5f5 #e5e5e5 #ccc;
box-shadow: 0 0 2px rgba(0,0,0,.2);
overflow: hidden;
/*width: 100%;*/
}

#breadCrumb ul{
display:table;
}

#breadCrumb li{
display:table-cell;
white-space:nowrap;
font-size: 12px;
padding:10px;
}

#breadCrumb a{
text-decoration: none;
color: #444;
}

#breadCrumb li:first-child a{
padding-left: 5px;
border-radius: 5px 0 0 5px;
}

#breadCrumb a:hover{
}


#breadCrumb a::after{
z-index: 2;
border-left-color: #ddd;
}

#breadCrumb a::before{
border-left-color: #ccc;
right: -1.1em;
z-index: 1;
}

#breadCrumb a:hover::after{
border-left-color: #fff;
}

#breadCrumb .current,
#breadCrumb .current:hover{
font-weight: bold;
background: none;
}

#breadCrumb .current::after,
#breadCrumb .current::before{
content: normal;
}

#breadCrumb li:last-child {
padding-right: 10px;
}

#breadCrumb div {
display: none;
}


/* ドロワーメニュー */
.sideNav{ background: #fff none repeat scroll 0 0;}
.sideNav li{ line-height:46px; border-bottom:1px solid #ddd;}
.sideNav li a{ display:block; padding-left:10px;}
.sideNav .enter{ overflow:hidden;}
.sideNav .enter a:nth-child(1){ float:left; width:68%;}
.sideNav .enter a:nth-child(2){ width:auto; border:1px solid #ff4c8f; background-color:#ffebf0; color:#ff4c8f; display:block; line-height:normal; padding:3px; float:right; text-align:center; margin:8px 10px 8px 0;}
.sideNav .reDirect{ overflow:hidden;}
.sideNav .reDirect a:nth-child(1){ float:left; width:64%;}
.sideNav .reDirect a:nth-child(2){ width:auto; border:1px solid #ff4c8f; background-color:#ffebf0; color:#ff4c8f; display:block; line-height:normal; padding:3px; float:right; text-align:center; margin:8px 10px 8px 0;}

h1{ text-align:center; font-size:16px; line-height:66px; color:#2d3639;}
h2{ text-align:center; font-size:16px; line-height:66px;}
h3{ background-color:#244dd2; padding:0 10px; font-size:16px; line-height:44px; color:#fff; margin:20px 0 10px; text-shadow:1px 1px #182d70;}
.tabBlock h3{margin:0 0 10px;}
.infoBlock h3{margin:20px 0 0;}
.listTextBlock h3{margin:10px 0 0;}

h3 i { font-size:28px; top:6px; margin-right:10px}



.infoParts { padding:10px; overflow:hidden;}
.infoParts div{ width:25%; float:left; padding-right:7px; box-sizing:border-box;}
.infoParts p{ float:left; width:75%; margin-bottom:6px; color:#999;}
.infoParts p span{ color:#2d3639; font-weight:700; display:block;}
.infoParts a{ color:#666;}

/* タブ */
.tabParts{ margin:10px 0 0 0; overflow:hidden; text-align:center;}
.tabParts div{ background-color:#e9e9e9; border:1px solid #ccc; color:#666; width:50%; float:left; line-height:40px; box-sizing:border-box;}
.tabParts .active{ background-color:#fff; border:1px solid #ccc; border-bottom:none; color:#000;}
.tabParts div:nth-child(1) { border-right:none;}
.hide { display:none;}

.listType{ border:1px solid #ccc; border-top:none; padding-top:2px;}
.listType a{ display:block; padding:10px;}
.listType li { border-bottom:1px solid #eee;}
.listType li:last-child { border-bottom:none;}
.listType li div { overflow:hidden;}
.listType li div div{ width:25%; float:left; padding-right:7px; box-sizing:border-box;}
.listType li div p{ float:left; width:75%; margin-bottom:6px; color:#999;}
.listType li div p span{ color:#2d3639; font-weight:700; display:block;}

.listTextType{ }
.listTextType a{ display:block; padding:10px; overflow:hidden;}
.listTextType li { border-bottom:1px solid #ccc; color:#2d3639; font-weight:700;}
.listTextType li i { margin-left:10px}
.listTextType a:after { content: "\e608"; font-family:'icomoon'; color:#ddd; float:right;}

/* ロードエリア */
.loadArea{ padding:0 10px; overflow:hidden;}
.loadArea a{ display:block;}
.loadArea div { width:49%; float:left; box-sizing :border-box;}
.loadArea div:nth-child(odd) { float:right}
.loadArea p{ margin:6px 0; color:#999;}
.loadArea p span{ color:#2d3639; font-weight:700; display:block;}
.nowLoading { padding: 5px 0; width: 100%; text-align: center;}
.loadMoreBtn { margin:10px; padding: 10px 0; text-align: center; border: #666 1px solid; cursor: pointer;}

/* スライダー */
.swiper-container { width: 100%; height: 100%; background: #ccc; position:absolute; top:0; left:0; }
.swiper-slide { font-size: 18px; color:#fff; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; position: absolute; text-align:center; }
.sliderType img {width: 100%;}
.sliderType a{ display:block;}

.topFade{ overflow:hidden;}
.pageTop{ float:right; margin:40px 10px 0 0; width:auto;}
.pageTop a{ padding:3px; background-color:#e9e9e9; display:block;}
.pageTop span{ display:inline-block; padding:10px; color:#666; background-color:#e9e9e9;}

/* フッター */
footer{ background-color:#e9e9e9; padding:10px 0;}
.footerLink{ text-align:center;}
.footerLink a{ display:inline-block; margin-right:10px; padding-right:10px;}
.footerLink a:last-child{ margin-right:0; padding-right:0;}
.copyRight{ text-align:center; font-size:12px; line-height:42px;}
}

@media only screen and (max-width: 768px) and (orientation : landscape){
.infoParts .more, .infoParts .close { display:none;}
}

@media only screen and (max-width: 768px) and (orientation : portrait){
.infoParts .more, .infoParts .close { margin-top:10px; padding: 10px 0; text-align: center; border: #666 1px solid; cursor: pointer; display:inline-block;}
}